@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap'); 

body ,html{
font-family: 'Montserrat', sans-serif;
font-size: 12px;
background-color: white;
height: 100%;
}

.container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login-form{
  height: 500px;
  width: 430px;
  padding: 0 35px;
  background-color: white;
  border: none;
}